---
layout: layout.njk
title: Blog
---

<h1>Blog</h1>

<p>Un espacio para repensar la relación entre empresa y discapacidad. Analizamos la actualidad, generamos documentos formativos para no expertos y abrimos nuestras puertas a firmas invitadas. Si eres experto o entidad y quieres aportar tu visión, escríbenos a <a href="mailto:info@empresaydiscapacidad.org">info@empresaydiscapacidad.org</a></p>

{% set postsOrdenados = collections.blogPosts | sort(attribute='data.date') | reverse %}

{% if postsOrdenados.length > 0 %}
  <ul>
    {% for post in postsOrdenados %}
      <li>
        <a href="{{ post.url | relative }}">{{ post.data.title }}</a> - {{ post.data.date | simpleDate }}
        {% if post.data.categories %}
          | Categorías: 
          {% for cat in post.data.categories %}
            <a href="{{ ('/blog/categoria/' ~ (cat | slug) ~ '/') | relative }}">{{ cat }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No hay posts aún.</p>
{% endif %}
